@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>

    <div class="row" id="footer">
        <div class="col text-center">
            <footer>
                <hr />
                <p>Copyright &copy;  @DateTime.Now.Year - Turntabl Role Service Application</p>
            </footer>
        </div>
    </div>

</div>
